@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
}

button {
    font-family: inherit;
}
